body {
    font-family: Arial, Helvetica, sans-serif;
}

.tab, .tab2 {
    color: #545454;
}

li {
    color: #545454;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    display: inline;
    font-size: 13px;
}

li:hover {
    color: #000;
}

.tab, .tab2 {
    margin-left: 104px;
}

.content {
    margin-left: 144px;
    text-align: left;
}

.link {
    font-size: 18px;
}

.link:hover {
    text-decoration: underline;
}

.link a {
    color: #1a0dab;
}

.cite {
    color: #006621;
    font-size: 14px;
}

a {
    text-decoration: none; 
}

p {
    color: #545454;
    font-size: 13px;
}

