body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
    display: inline;
}

.tab, .tab2 {
    margin-left: 104px;
}

.content {
    margin-left: 144px;
    text-align: left;
}

.cite {
    color: #006621;
}

a {
    text-decoration: none; 
}